name: Build

on: [ workflow_dispatch ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 1000
          fetch-tags: true

      - name: Setup JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build with Gradle
        uses: gradle/actions/setup-gradle@v3
        with:
          arguments: build
          gradle-version: 7.4.2
      - uses: BrycensRanch/read-properties-action@v1
        id: version
        with:
          file: gradle.properties
          property: mod_version
      - name: Nuke Changelog dot txt
        uses: JesseTG/rm@v1.0.3
        with:
          path: changelog-1.20.1.txt
      - uses: finnp/create-file-action@master
        env:
          FILE_NAME: "changelog-1.20.1.txt"
          FILE_DATA: ""
      - name: Increment version variable
        id: bump_version
        uses: christian-draeger/increment-semantic-version@1.2.3
        with:
          current-version: ${{ steps.version.outputs.value }}
          version-fragment: 'hotfix'
      - name: Replace single file
        uses: richardrigutins/replace-in-files@v2
        with:
          files: 'gradle.properties'
          search-text: ${{ steps.version.outputs.value }}
          replacement-text: ${{ steps.bump_version.outputs.next-version }}
      - name: Commit & Push
        uses: Andro999b/push@v1.3
        with:
          github_token: ${{ secrets.GIT_TOKEN}}
          branch: ${{ github.ref }}
          force: true